<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyBank_Draft2.Properties.Settings.MyBankConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=MyBank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="MyBank_Draft2.Properties.Settings.MyBankConnectionString1"
     connectionString="Data Source=CCL2-20;Initial Catalog=MyBank;Persist Security Info=True;User ID=sa;Password=ccl2;Encrypt=True;TrustServerCertificate=True"
     providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>